{% extends 'base.html' %}

{% block content %}
<h2>Регистрация</h2>

<form method="post">
    {% csrf_token %}

    {% for field in form %}
        <div>
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                <div style="color: red;">
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}

    <button type="submit">Зарегистрироваться</button>
</form>

<p>Уже есть аккаунт? <a href="{% url 'login' %}">Войдите</a></p>
{% endblock %}